.spinner {
  border-radius: 50%;
  border: 3.5px solid rgb(40, 43, 40);
  border-top-color: rgba(40, 43, 40, 0.2);
  animation: spinner-loading 1s infinite ease;
}

.spinner.tiny {
  width: 14px;
  height: 14px;
}

.spinner.normal {
  width: 26px;
  height: 26px;
}

.spinner.big {
  width: 32px;
  height: 32px;
  border-width: 4px;
}

@keyframes spinner-loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}